{% extends 'catalog/base.html' %}
{% block content %}
{% load tags %}

<div class="row text-center">
  <div class="col-6">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
          <li>
            {{object.content}}
          </li>
          <li>
            <img src="{% mediapath object.preview %}" class="img-thumbnail" alt="...">
          </li>
          <li>
            Slug: {{object.slug}}
          </li>
          <li>
            Просмотры: {{object.views_count}}
          </li>
        </ul>
        <a class="p-2 btn btn-outline-primary" href="{% url "blog:update" object.pk %}">Изменить запись</a>
        <a class="p-2 btn btn-outline-primary" href="{% url "blog:delete" object.pk %}">Удалить запись</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}