{% extends "catalog/base.html" %}
{% block content %}
{% load tags %}

<a class="p-2 mb-5 btn btn-outline-primary" href="{% url "blog:create" %}">Создать запись</a>

<div class="row text-center">
{% for object in object_list %}
    <div class="col-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
        </div>
        <div class="card-body ">
          <h1 class="card-title pricing-card-title">{{object.price}}</h1>
          <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <li>
              <b>Заголовок</b><br>
              {{object.title|slice:100}}<br>
              {{object.slug}}
            </li>
            <li>
                <a href="{% url "blog:view" object.pk %}">
                    <img src="{% mediapath object.preview %}" class="img-thumbnail" alt="...">
                </a>
            </li>
            <li>
              <b>Содержимое</b><br>
              {{object.content|slice:100}}
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}