{% extends "catalog/base.html" %}
{% block content %}
{% load tags %}

<div class="row text-center">
{% for object in object_list %}
    <div class="col-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{object.product.name}}</h4>
        </div>
        <div class="card-body ">
          <h1 class="card-title pricing-card-title">{{object.product.price}}</h1>
          <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <li>
              <b>Описание</b><br>
              {{object.description|slice:100}}
            </li>
            <li>
                <a href="/products/{{object.pk}}/">
                    <img src="{% mediapath object.product.preview %}" class="img-thumbnail" alt="...">
                </a>
            </li>
            <li>
              <b>Категория</b><br>
              {{object.product.category.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}