{% extends 'catalog/base.html' %}
{% block content %}
{% load tags %}

<div class="row text-center">
  <div class="col-6">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{object.price}}</h1>
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
          <li>
            <b>Описание</b><br>
            {{object.description|slice:100}}
          </li>
          <li>
            <b>Превью</b><br>
            <img src="{% mediapath object.preview %}" class="img-thumbnail" alt="...">
          </li>
          <li>
            <b>Категория</b><br>
            {{object.category.name}}
          </li>
        </ul>
        <a class="p-2 btn btn-outline-primary" href="{% url "catalog:update" object.pk %}">Изменить продукт</a>
        <a class="p-2 btn btn-outline-primary" href="{% url "catalog:delete" object.pk %}">Удалить продукт</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}