{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="card mb-4 box-shadow">

    <div class="card-body">
      <form method="post" action="" class="form-floating">
        {% csrf_token %}
        {{form}}
        <p>Удалить версию {{object.title}}?</p>
        <button type="submit" value="Confirm" class="btn btn-lg btn-block btn-outline-primary">Да</button>
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url "catalog:list_ver" %}">Нет</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}